---
ogpType: website
---

<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/websaite#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/style.css">
  {% if title %}
  <title>{{title}} | ABROLLER.TECH</title>
  {% else %}
  <title>ABROLLER.TECH</title>
  {% endif %}

  <meta property="og:title" content="{{title}}" />
  <meta property="og:type" content="{{ogpType}}" />
  <meta property="og:url" content="https://abroller.tech{{page.url}}" />
  <meta property="og:image" content="https://abroller.tech/assets/images/2018/12/ogp.png" />
  <meta property="og:site_name" content="abroller.tech" />

  {% include "anaytics.njk" %}
</head>
<body>
  <header class="SiteHeader">
    <a href="/" class="SiteHeader__logotypo">ABROLLER.TECH</a>
  </header>

  {% include "nav.njk" %}
  <main>
    {{ content | safe }}
  </main>
  <footer>(c) 腹筋ローラーの力を信じろ</footer>
</body>
</html>