<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/style.css">
  <title>ABROLLER.TECH</title>
</head>
<body>
  <header>
    ABROLLER.TECH
  </header>

  <main>
    <h1>最新記事</h1>
    {{ content | safe }}
  </main>
  <footer>(c) 腹筋ローラーの力を信じろ</footer>
</body>
</html>