---
layout: base.njk
ogpType: article
---
<article itemscope itemtype="https://schema.org/BlogPosting">
    <h1 itemprop="headline">{{title}}</h1>

    <p><time itemprop="datePublished" datetime="{{item.date | datetimeDate}}">{{date | dateJp}}</time></p>

    {% if tags %}
    <ul>
      {% for tag in tags %}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <li><a href="{{ tagUrl | url }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}

    <div itemprop="articleBody">
      {{ content | safe }}
    </div>

    <footer itemprop="author" itemscope itemtype="https://schema.org/Person">
      <h2>この記事を書いた人</h2>
      <dl>
        <dt>名前</dt>
        <dd itemprop="name">{{author.name}}</dd>
        <dt>Twitter</dt>
        <dd>
          <a href="https://twitter.com/{{author.twitter}}">
            {{author.twitter}}
            <meta itemprop="url" content="https://twitter.com/{{author.twitter}}">
          </a>
        </dd>
      </dl>

      <p itemprop="description">{{author.description}}</p>
    </footer>
</article>