@import url('https://fonts.googleapis.com/css?family=Exo+2:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap');

:root {
  --spacing-unit: 0.5rem;

  --spacing-1: var(--spacing-unit);
  --spacing-2: calc(var(--spacing-unit) * 2);
  --spacing-3: calc(var(--spacing-unit) * 4);
  --spacing-4: calc(var(--spacing-unit) * 8);
  --spacing-5: calc(var(--spacing-unit) * 16);
  --spacing-6: calc(var(--spacing-unit) * 32);

  --font-size-m: 1rem;
  --font-size-l1: calc(1rem * 8 / 7);
  --font-size-l2: calc(1rem * 8 / 6);
  --font-size-l3: calc(1rem * 8 / 5);
  --font-size-l4: calc(1rem * 8 / 4);
  --font-size-l5: calc(1rem * 8 / 3);

  --color-heading: #333;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
 * Element
 */


html {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
  background-color: #fafafa;
}

body {
  padding-left: calc(var(--spacing-1) + 5vw);
  padding-right: calc(var(--spacing-1) + 5vw);
}

header {
  margin-bottom: var(--spacing-4);
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
  border-bottom: 1px solid #333;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
figcaption {
  max-width: 40em;
}

a:focus {
  outline: 2px dotted currentColor;
  outline-offset: var(--spacing-1);
}
p {
  line-height: 1.7;
}

p + p {
  margin-top: var(--spacing-2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-weight: bold;
  line-height: 1.3333;
}

h1 {
  font-size: var(--font-size-l4);
}

h2 {
  font-size: var(--font-size-l3);
}

h3 {
  font-size: var(--font-size-l2);
}

h4 {
  font-size: var(--font-size-l1);
}

img {
  max-width: min(44em, 100%);
  height: auto;
}

li + li {
  margin-top: var(--spacing-1);
}

li > ul {
  margin-top: var(--spacing-1);
}

footer {
  margin-top: var(--spacing-4);
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
  border-top: 1px solid #5d4037;
}

hr {
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-3);
  margin-left: 0;
  border-top: 1px solid #e0e0e0;
  width: 90%;
}

footer > h2 {
  font-size: var(--font-size-l2);
}

footer > dl {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--spacing-1);
}

footer > dl > dt {
  font-weight: bold;
  text-align: right;
}

footer > dl > dd {
  margin-left: 0;
}

footer > p > small {
  display: block;
  margin-top: var(--spacing-3);
}

/*
 * Component
 */

.SiteHeader__logotypo,
.SiteHeader__logotypo:visited {
  font-size: var(--font-size-l5);
  font-family: 'Exo 2', sans-serif;
  color: var(--color-heading);
  text-decoration: none;
}

.SiteHeader__logotypo:active {
  text-decoration: underline;
}

/*
 * Utility
 */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

pre > code {
  display: block;
  padding: var(--spacing-1);
  background-color: #eceff1;
  overflow-x: auto;
}

p > code,
h1 > code,
h2 > code,
h3 > code,
h4 > code,
h5 > code,
h6 > code {
  display: inline-block;
  padding: calc(var(--spacing-1) / 2);
  margin: var(--spacing-1);
  background-color: #eceff1;
}

td,
th {
  border: 1px solid #bdbdbd;
  padding: var(--spacing-1);
  max-width: 100%;
}

thead {
  background-color: #f5f5f5;
}

.Note {
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-3);
  padding: var(--spacing-2);
  border: 3px solid #eeeeee;
}

.Note > h1,
.Note > h2,
.Note > h3,
.Note > h4,
.Note > h5,
.Note > h6 {
  font-size: var(--font-size-l1);
  margin-top: 0;
}

.Note > *:last-child {
  margin-bottom: 0;
}

.emphasis-mark {
  font-style: normal;
  text-emphasis-style: sesame;
}