---
layout: base.njk
pagination:
  data: collections.blog
  size: 50
  reverse: true
  alias: blog
---
{% for item in blog %}
  <article>
    <h1>
      <a href="{{ item.url | url }}">{{ item.data.title }}</a>
    </h1>
  </article>
{% endfor %}