---
layout: base.njk
pagination:
  data: collections.blog
  size: 4
  reverse: true
  alias: blog
---
<section>
  <h1 class="visually-hidden">
    トップ
  </h1>

  <p>
    UIデザイナー／フロントエンジニア<br>
    腹筋ローラーの力を信じろ
  </p>

  <section>
    <h2>最新記事</h2>

    <ol>
    {% for item in blog %}
      <li>
          <a href="{{ item.url | url }}">{{ item.data.title }}</a>
          <div>
            <time datetime="{{item.date | datetimeDate}}">{{item.date | dateJp}}</time>
          </div>
      </li>
    {% endfor %}
    </ol>
  </section>
</section>