---
layout: base.njk
pagination:
  data: collections.blog
  size: 50
  reverse: true
  alias: blog
---
<ol>
{% for item in blog %}
  <li>
      <a href="{{ item.url | url }}">{{ item.data.title }}</a>
      <div>
        <time datetime="{{item.date | datetimeDate}}">{{item.date | dateJp}}</time>
      </div>
  </li>
{% endfor %}
</ol>